/* src/index.css */
@import "tailwindcss";

/* Configuración del tema oscuro en V4 */
@custom-variant dark (&:where(.dark, .dark *));


/* Define tus colores personalizados */
@theme {
  --color-primary: #f0625d;
  --color-background-light: #ffffff;
  --color-background-dark: #0f172a;
}

/* Estilos base */
@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-white transition-colors duration-300;
  }
}

@layer components {
  /* Clases de utilidad personalizadas */
  .text-primary {
    color: var(--color-primary);
  }
  
  .bg-primary {
    background-color: var(--color-primary);
  }
  
  .border-primary {
    border-color: var(--color-primary);
  }
  
  .ring-primary {
    --tw-ring-color: var(--color-primary);
  }
}